@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --border: 214 32% 91%;
    --radius: 0.5rem;
    --primary-1: #febc29;
    --primary-2: #8ca030;
    --primary-3: #f2d4cd;
    --secondary-1: #e0d9ff;
    --secondary-2: #ddd9d3;
    --secondary-3: #f0efeb;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --border: 217 33% 17%;
  }
}
